@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');

@keyframes backgroundscsf {
  0% {
    background-color: aqua;
    color: crimson;
  }

  50% {
    background-color: crimson;
    color: aqua;
  }

  100% {
    background-color: aqua;
    color: crimson;
  }
}

* {
  font-family: 'IBM Plex Sans JP', sans-serif;
}

body {
  background-color: bisque;
  max-width: 750px;
}

.dark {
  background-color: black;
}

.hyper {
  animation: backgroundscsf .5s infinite;
}

body input[type="number"] {
  width: 3.5em;
  background-color: white;
  border-width: 1px;
  border-color: #808080;
  border-style: solid;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

body button {
  /* background-color: rgb(94, 94, 94); */
  padding: 5px;
  border-radius: 5px;
}

body select {
  background-color: white;
  border-width: 1px;
  border-color: #808080;
  border-style: solid;
  border-radius: 3px;
  appearance: auto;
}

body select:disabled {
  background-color: #c0c0c0;
}

.base-color {
  color: rgb(126, 107, 107);
}

/* .main-color {
  color: aliceblue;
} */

.accent-color {
  color: red;
}


.title {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  background-size: cover;
  color: white;
  background-image: url(https://cdn.discordapp.com/attachments/1197864387030036490/1211855080593039360/image0.jpg?ex=65efb6fe&is=65dd41fe&hm=7452c40cb2c3ac140bd47dd0e9b2325860bf2943b5687bbfb0329e72c630a0bd&);
  background-position: center;
  transition: .5s;
}

.titletxt {
  position: fixed;
  margin: 0%;
  padding: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
}

.title-a {
  transform: scale(0);
  z-index: -1;
}

.calcwindow {
  position: fixed;
  background-color: aliceblue;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .7s;
}

.numwindow {
  position: fixed;
  background-color: aliceblue;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  transform: rotate3d(1, 1, 1, 70deg) translate(-100%);
  transition: .7s;
}

.numwindow h2 {
  margin-top: 1.2em;
}

.resu {
  position: fixed;
  background-color: aliceblue;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .7s;
}

.resug {
  position: fixed;
  background-color: aliceblue;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .7s;
}


.viwwwnum {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.hiwwwnum {
  transform: scale(10);
  opacity: 0%;
}

.viewin {
  top: 50%;
}

.hidewin {
  transform: rotate3d(1, 1, 1, 70deg) translate(100%);
}

video {
  width: 213px;
  height: 120px;
}

.pinp {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  z-index: 1000000;
  background-color: black;
  color: white;
  transition: .5s;
}

div.second {
  height: 120px;
}

.popup {
  transform: translate(10px, 10px);
  width: 213px;
  height: 120px;
  border-radius: 10px;
}

.drag-and-drop {
  cursor: move;
  position: fixed;
  z-index: 10000;
  touch-action: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.drag {
  z-index: 10001;
}

.gogo {
  margin-top: 2em;
}

.gogo:disabled {
  background: #5a5a5a;
  color: gray;
}

.rainbow {
  background: linear-gradient(to right, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto;
  animation: rainbow 0.5s linear infinite;
}

.c {
  background-clip: text;
  -webkit-background-clip: text;

  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  to {
    background-position-x: 200%;
  }
}

.end {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  transition: .5s;
  padding-top: 100%;
  z-index: 100000;
}

.dis {
  transform: scale(0);
  opacity: 0%;
}

.chr {
  height: 50px;
  width: max-content;
  position: fixed;
  color: white;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition-timing-function: linear;
  transition-duration: 15s;
  z-index: 100001;
}

.chrx {
  height: 50px;
  width: max-content;
  position: fixed;
  color: white;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition-timing-function: linear;
  transition-duration: 7.5s;
  z-index: 100001;
}

.upper {
  bottom: 110%;
  z-index: 100001;
}

.upperx {
  bottom: 50%;
  z-index: 100001;
}

#padding {
  padding: 100%;
}

.none {
  display: none;
}

.client {
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #808080;
  text-align: center;
}

.playeronplay {
  width: 213px;
  height: 120px;
}

.small {
  transform: scale(0);
}

.over {
  top: 0%;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(48, 48, 48);
  transition: 7s;
  filter: blur(0px);
  z-index: 100000;
  opacity: 0%;
}